blockqoute{
    color: blue;
    font: 36px, Times, Serif;
    text-align: left;
    font-size: 1.4em;
    margin-left: 10em;
    font-style: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: italic;
}
.article-thumbs{
    text-align: center;
    clear: both;
}
h1{
    color:blue;
    text-align:center;
}
.lakepalce{
    text-align:center;
}
.costume-image{
    text-align: center;
}

#main-nav a:hover, #main-nav a:focus, #main-nav a:active {
	text-decoration: underline;
	font-size: 20px;
}
header{
    text-align: center;
}
body{
   background-color: grey;
}
p{
    position: static;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: justify;

}